<!doctype>
<html>
        <body style="background-color:#06bcf6; padding-top:15%;" align="center">
                <h1 style="color:#ffffff;"> Squirrel Tracker</h1>
                <form action="map/">
                        <button type="submit">VIEW SQUIRREL SIGHTINGS ON MAP
                        </button>
                </form>
                <form action="sightings/">
                        <button type="submit">VIEW ALL SQUIRREL SIGHTINGS
                        </button>
                </form>
		<form action="sightings/stats/">
                        <button type="submit">SOME STATISTICS FROM SQUIRREL SIGHTINGS
                        </button>
                </form>
        </body>
</html>
